/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* VARIABLES */
:root {
  /* Colour Choices */
  --foreground-default: #f5f5f5;
  --foreground-active-blue: #88b8e2;
  --foreground-clicked-blue: #3e8dd2;
  --background-default: #333;
  --background-mid-accent: #232323;
  --background-second-accent: #292929;
  --background-accent: #181818;
  --overlay-color: rgba(245, 245, 245, 0.2);
  --border-primary: #56a37b78;
  --border-secondary: #a4ceba77;

  /* Widths and Heights*/
  --topbar-height: 3.5rem;
  --sidebar-width: 18rem;

  /* Fonts */
  --font-size-sidebar: 1.05rem;
  --sidebar-line-height: 1;
  --font-size-default: 1.1rem;
  --font-letter-spacing-default: 0.008em;
  --font-word-spacing-default: 0.05em;
  --main-line-height: 1.45;

  /* CSS Animations */
  --logo-pulse-in: all 300ms ease-out;
  --logo-pulse-out: all 150ms ease;
  --sidebar-speed: all 400ms ease;
  --burger-menu-speed: all 600ms ease-in-out;
  --dropdown-speed: all 250ms ease-in-out;
  --dropdown-speed-revert: all 175ms ease;
  --icon-rotate-speed: rotate 200ms ease-in-out;
  --body-dropdown-speed: all 200ms ease-in-out;
  --logo-scaling: scale(1.12);

  /* Scrollbars */
  --custom-scrollbar-width: 12px;
  --custom-scrollbar-border-radius: 10px;
}

/* OVERALL BODY STYLING */
body {
  background-color: var(--background-default);
  color: var(--foreground-default);

  font-size: var(--font-size-default);

  font-family: "Segoe UI", -apple-system, system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: var(--font-letter-spacing-default);
  word-spacing: var(--font-word-spacing-default);

  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  padding: 0px;

  overflow-x: hidden;
}

footer {
  background: var(--background-accent);
  padding-left: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: #a2a2a2;
  font-size: calc(0.9 * var(--font-size-default));
}

.redColor {
  color: red;
}

/* Body Anchor Link Style */
body a {
  text-decoration: none;
  color: var(--foreground-active-blue);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Visited Link Colour*/
body a:hover {
  color: var(--foreground-clicked-blue);
  text-decoration: underline;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar-track {
  background-color: var(--background-accent);
}

::-webkit-scrollbar {
  width: var(--custom-scrollbar-width);
  background-color: var(--background-default);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--custom-scrollbar-border-radius);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--foreground-default);
}

body::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 3.5rem;
}

.sidebar-nav::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 0.1rem;
}

.sidebar-nav::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 3.6rem;
}

/* UPPER NAV BAR */
.top-nav {
  z-index: 5;
  display: flex;
  background-color: var(--background-accent);
  box-sizing: border-box;
  min-height: var(--topbar-height);
  position: fixed;
  width: 100vw;
  font-size: var(--font-size-sidebar);
  line-height: var(--sidebar-line-height);
}

.nav-section {
  padding: 0.1% 2%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: left;
}

#nav-burger-symbol {
  flex-basis: calc(48% - 28.5px);
}

#nav-logo-symbol,
#nav-language-symbol {
  flex-grow: 1;
}

#nav-language-symbol {
  justify-content: flex-end;
}

/* MENU BURGER */
#menu-toggle {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--foreground-default);

  display: flex;
  justify-content: center;
}

.burger-button .line {
  transition: var(--sidebar-speed);
}

.middle {
  stroke-dasharray: 47 300;
}

#menu-toggle.toggled .middle {
  stroke-dashoffset: -47;
  stroke-dasharray: 147 300;
  stroke: var(--foreground-active-blue);
}

.inner-circle {
  stroke-dasharray: 47 300;
}

#menu-toggle.toggled .inner-circle {
  stroke-dashoffset: -120;
  stroke-dasharray: 120 300;
  stroke: var(--foreground-active-blue);
}

/* LOGO */
.site-logo {
  display: flex;
  justify-content: center;

  -webkit-transition: var(--logo-pulse-in);
  -moz-transition: var(--logo-pulse-in);
  -o-transition: var(--logo-pulse-in);
  transition: var(--logo-pulse-in);

  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-miterlimit: 1.5;
}

.logoPathThin {
  stroke-width: 1.78px;
  stroke: #f8f8f8;
}

.logoPathThick {
  stroke-width: 2.84px;
  stroke: #f8f8f8;
}

.logoPathFill {
  fill: #f8f8f8;
}

.logoPathNoFill {
  fill: none;
}

.site-logo:hover {
  -webkit-transform: var(--logo-scaling);
  transform: var(--logo-scaling);

  -webkit-transition: var(--logo-pulse-out);
  -moz-transition: var(--logo-pulse-out);
  -o-transition: var(--logo-pulse-out);
  transition: var(--logo-pulse-out);
}

/* WRAPPERS FOR MAIN AND SIDEBAR */
#wrapper {
  padding-left: 0;
  -webkit-transition: var(--sidebar-speed);
  -moz-transition: var(--sidebar-speed);
  -o-transition: var(--sidebar-speed);
  transition: var(--sidebar-speed);
  padding-top: var(--topbar-height);
}

main {
  width: 100%;
  color: var(--foreground-default);
  line-height: var(--main-line-height);
  position: absolute;
}

.section-break {
  width: 100%;
}

.section-break svg {
  display: block;
  margin: auto;
}

main hr {
  padding-bottom: var(--topbar-height);
}

/* Toggle Classes */
#body.toggled {
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: var(--sidebar-width);
}

#wrapper.toggled main {
  position: absolute;
  margin-right: calc(-1 * var(--sidebar-width));
}

/* SIDEBAR */
#sidebar-nav {
  font-size: var(--font-size-sidebar);
  line-height: var(--sidebar-line-height);
  z-index: 4;
  position: fixed;
  left: var(--sidebar-width);
  width: 0;
  height: 100vh;
  margin-left: calc(-1 * var(--sidebar-width));
  overflow-y: auto;

  -webkit-transition: var(--sidebar-speed);
  -moz-transition: var(--sidebar-speed);
  -o-transition: var(--sidebar-speed);
  transition: var(--sidebar-speed);

  background-color: var(--background-accent);
  color: var(--foreground-active-blue);

  box-shadow: 15px 0px 8px -10px rgba(0, 0, 0, 0.3);
}

/* Toggle classes for sidebar and main body when sidebar visible (simply makes visible)*/
#wrapper.toggled #sidebar-nav {
  width: var(--sidebar-width);
}

#overlay {
  position: fixed;
  z-index: 3;
  display: none;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: var(--overlay-color);
}

/* Sidebar Anchor Link Style */
.sidebar-nav .sidebar-text li a {
  text-decoration: none;
  color: var(--foreground-active-blue);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1.1rem;
  display: block;
}

.sidebar-nav li {
  list-style: none;
  margin-left: -2rem;
}

.sidebar-nav .sidebar-text li a:hover {
  background-color: var(--background-default);
}

#current-page {
  color: var(--foreground-clicked-blue);
}

/* Fade in sidebar text */

#primary-navigation {
  padding-left: 2.5rem;
  display: none;
}

/* DROPDOWN BUTTON */
/* Dropdown Button Styling */
.dropdown-btn {
  text-decoration: none;
  font-size: var(--font-size-sidebar);
  color: var(--foreground-active-blue);
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  right: 0;
  justify-content: flex-end;
  padding: 1.12rem;
  padding-top: 1.1rem;
}

/* Change Color Of Button Background On Hover */
.dropdown-btn:hover {
  background-color: var(--background-default);
}

/* Icon For Dropdown Animation */
.dropdown-icon {
  transition: var(--dropdown-speed-revert);
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Button Active Class */
.active-dropdown {
  color: var(--foreground-clicked-blue);
  transform: rotate(90deg);
  transition: var(--dropdown-speed);
}

/* Div Region For Dropdown Button and Link Side-by-side */
.link-with-dropdown {
  display: flex;
  align-items: center;
  justify-content: left;
}

/* Size Link Next To Dropdown Button */
.link-next-to-dropdown {
  flex-basis: 90%;
  display: block;
}

/* Color Background Of Link On Hover */
.link-next-to-dropdown:hover {
  background-color: var(--background-default);
}

/* Container For Dropdown Options */
.dropdown-container {
  display: none;
  background-color: var(--background-mid-accent);
}

/* Buffer for bottom of sidebar so lowest item isn't cut off by edge of screen */
.buffer-item {
  padding: 6rem;
}

/* BODY TEXT FORMATTING */

main h3,
main p {
  text-align: left;
}

main h1,
main h2 {
  text-align: center;
  font-weight: 600;
}

main .centered-text {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

main p {
  margin-bottom: 2.5rem;
}

main .medium-para {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

main .small-para {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

main ul li {
  margin-bottom: 1.5rem;
}

.Review-section {
  border-radius: 10px;
  padding: 5px 15px;
  padding-bottom: 10px;
  margin: 15px 5px;
  background-color: var(--background-second-accent);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* FOCUS VISIBLE ACCESSIBILITY */
a:focus-visible,
button:focus-visible,
.burger-button:focus-visible,
.sidebar-nav .sidebar-text li a:focus-visible {
  border: 2px solid white;
  border-radius: 5px;
}

.sidebar-nav button:focus-visible,
#wrapper button:focus-visible {
  outline: none;
}

/* Styles applied to body content (currently home and academia, likely any text) */

/* COLUMNS FOR TEACHING */
.teach-column {
  float: left;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.teach-row:after {
  content: "";
  display: table;
  clear: both;
}

.teach-section {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 15px 10px 15px 10px;
  background-color: var(--background-second-accent);
}

.first-column {
  margin-bottom: 0px;
}

.teach-spacer {
  height: 1em;
}

/* HYPERLINK ICONS */

.external-link::before {
  font-family: "icomoon";
  content: "\e902";
  margin-right: 3px;
  font-size: var(--font-size-default);
  display: inline;
  vertical-align: -0.0954rem;
}

.external-link-list-item::before {
  margin-right: -2px;
}

.local-download::before {
  font-family: "icomoon";
  content: "\e901";
  font-size: var(--font-size-default);
  display: inline;
  vertical-align: -0.096rem;
}

/* ABSTRACT DROPDOWN */
.abstract-link {
  display: inline-block;
  color: var(--foreground-active-blue);
  cursor: pointer;
  background: none;
  font-size: var(--font-size-default);
  border: none;
  margin-left: -5px;
  padding: 0px 3px;
}

.abstract-link.abstract-toggled {
  color: var(--foreground-clicked-blue);
}

.abstract-link:hover {
  color: var(--foreground-clicked-blue);
}

.abstract-icon {
  font-size: var(--font-size-default);
  transition: var(--icon-rotate-speed);
  vertical-align: -0.096rem;
}

.abstract-link.abstract-toggled .abstract-icon {
  rotate: 90deg;
  transition: var(--icon-rotate-speed);
}

.abstract-container {
  display: none;
  background-color: var(--background-mid-accent);
  padding: 0.5rem;
  padding-left: 1.3rem;
  padding-right: 0.7rem;
}

/* ABOUT SECTION */
.download-less-padding:before {
  margin-right: -0.15rem;
}

.about-column-text {
  float: left;
  width: 65%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-column-image {
  float: left;
  width: 35%;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 1.5rem;
}

.img-about {
  border: var(--foreground-default) 2px solid;
  border-radius: 50%;
  height: 13.3rem;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.About-section {
  margin-top: 0;
  margin-bottom: 0;
}

#aboutMe {
  height: 48px;
}

/* Module Results Sections */
.grades-title {
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
}

.midBold {
  font-weight: 500;
}

/* Skills and Experience lists */
.compact-list li {
  margin-bottom: 0.4rem;
}

.compact-list {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.abstract-less-padding {
  padding-left: 0.7rem;
}

/* 404 Page */
#finebox {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

#thisfine {
  display: block;
  width: 50vw;
  margin: auto;
}

#finefooter {
  position: fixed;
  width: 100vw;
  bottom: 0;
}

#finepara {
  text-align: center;
}

/* CARD CAROUSEL */

#oxford-card {
  background-image: url("../academia_page/academia_images/Oxford.jpg");
}

#wildberg-card {
  background-image: url("../academia_page/academia_images/Wildberg.jpg");
}

#confirmation-card {
  background-image: url("../academia_page/academia_images/Surrey.jpg");
}

#fields-card {
  background-image: url("../academia_page/academia_images/Fields.jpg");
}

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  height: 80vh;
  max-height: 800px;
}

.slider-container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-button {
  display: flex;
  text-align: center;
  justify-content: center;
  display: inline-block;
  border-radius: 1.5rem;
  padding: 0.5rem 0.8rem;
  border-color: var(--foreground-active-blue);
  background-color: var(--background-accent);
  color: var(--foreground-active-blue);
  border-style: solid;
  text-decoration: none;
  border-width: 0.16rem;

  font-size: 1.4rem;

  -webkit-transition: var(--logo-pulse-in);
  -moz-transition: var(--logo-pulse-in);
  -o-transition: var(--logo-pulse-in);
  transition: var(--logo-pulse-in);

  cursor: pointer;
}

.slider-button:hover {
  border-color: var(--foreground-clicked-blue);
  color: var(--foreground-clicked-blue);

  -webkit-transition: var(--logo-pulse-in);
  -moz-transition: var(--logo-pulse-in);
  -o-transition: var(--logo-pulse-in);
  transition: var(--logo-pulse-in);
}

.slider-angle {
  transition: var(--dropdown-speed-revert);
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider-angle-left {
  margin-left: -1.5px;
}

.slider-angle-right {
  margin-right: -1.5px;
}

.slider-button:active {
  -webkit-transform: var(--logo-scaling);
  transform: var(--logo-scaling);

  -webkit-transition: var(--logo-pulse-out);
  -moz-transition: var(--logo-pulse-out);
  -o-transition: var(--logo-pulse-out);
  transition: var(--logo-pulse-out);
}

.slider-button-right {
  justify-content: right;
}

.slider-button-left {
  justify-content: left;
}

.card-title {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 0;

  text-align: center;
  overflow: auto;
}

.card-details {
  margin: 0.7rem;
  padding: 0.7rem;
  font-size: 1.02rem;
  line-height: 1.25;

  background-color: #3e3e3e;
  border-radius: 10px;
}

.card-name {
  margin: 0;
  padding: 5px;
  text-align: center;
  z-index: 1;
}

.card-date {
  font-style: italic;
  padding: auto;
  text-align: center;
  margin: 0.25rem 1.5rem 0.25rem 1.5rem;
  font-size: 1.05rem;
  line-height: 1.35;
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 10px;
}

.slider-navigation {
  display: flex;
  width: 84%;
}

.slider-navigation-padding {
  flex-grow: 1;
}

.slider-under-padding {
  height: 1rem;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.4s ease;

  background-repeat: no-repeat;
  border-radius: 0.7rem;
  box-shadow: 15px 0px 8px -10px rgba(0, 0, 0, 0.3),
    -15px 0px 8px -10px rgba(0, 0, 0, 0.3);
}

.card[data-status="activeLeft"] * {
  pointer-events: none;
}

.card[data-status="activeRight"] * {
  pointer-events: none;
}

.card[data-status="inactive"] * {
  pointer-events: none;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Media queries for screen width and about image margins  */

@media screen and (max-width: 767.5px) {
  .slider-navigation {
    display: flex;
    width: 85%;
  }
}

@media screen and (min-width: 575.5px) {
  .card[data-status="activeMiddle"] {
    transition: 0.4s ease;
    transform: translatex(0) scale(1);
    z-index: 2;
    opacity: 1;
  }

  .card[data-status="activeLeft"] {
    transition: 0.4s ease;
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 1;

    cursor: pointer;
  }

  .card[data-status="activeRight"] {
    transition: 0.4s ease;
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 1;

    cursor: pointer;
  }

  .card[data-status="inactive"] {
    transition: 0.4s ease;
    transform: translatex(0) scale(0);
    opacity: 0;
    z-index: 0;
  }
}

@media screen and (max-width: 575.4px) {
  .slider-navigation {
    display: flex;
    width: 80%;
  }

  .card {
    width: 90%;
    height: 97%;
  }

  .card[data-status="activeMiddle"] {
    transition: 0.4s ease;
    transform: translatex(0) scale(1);
    z-index: 2;
    opacity: 1;
  }

  .card[data-status="activeLeft"] {
    transition: 0.4s ease;
    transform: translatex(-40%) scale(0);
    opacity: 0.4;
    z-index: 1;
  }

  .card[data-status="activeRight"] {
    transition: 0.4s ease;
    transform: translatex(40%) scale(0);
    opacity: 0.4;
    z-index: 1;
  }

  .card[data-status="inactive"] {
    transition: 0.4s ease;
    transform: translatex(0) scale(0);
    opacity: 0;
    z-index: 0;
  }
}

/* Media queries for screen width and about image margins  */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .img-about {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .img-about {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }
}

@media screen and (max-width: 991.5px) {
  /* Media query for teaching columns */
  .teach-column {
    width: 100%;
  }
  /* Media query for responsive text/image column */
  .about-column-text {
    width: 100%;
  }
  .about-column-image {
    width: 100%;
  }
}
