/* Media queries for screen width and about image margins  */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .img-about {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .img-about {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }
}

@media screen and (max-width: 991.5px) {
  /* Media query for teaching columns */
  .teach-column {
    width: 100%;
  }
  /* Media query for responsive text/image column */
  .about-column-text {
    width: 100%;
  }
  .about-column-image {
    width: 100%;
  }
}
